<ion-header>
  <ion-toolbar >
    <span>
      <ion-title>KM Printec Solutions</ion-title>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-title style="padding-top: 15px;color: #242425;">Invoice user login</ion-title>
    <ion-card-content>
        <ion-item>
          <ion-label position="floating"><span style="color: #707076;">Email Address</span></ion-label>
          <ion-input type="text" [(ngModel)]="loginVal.userName" (ionChange)="validate()"></ion-input>
        </ion-item>
        <span class="text-danger text-small" *ngIf="validateUsername">Enter Username</span>
        <ion-item>
          <ion-label position="floating"><span style="color: #707076;">Password</span></ion-label>
          <ion-input type="password" [(ngModel)]="loginVal.password" (ionChange)="validate()"></ion-input>
        </ion-item>
        <span class="text-danger" *ngIf="validatePassword">Enter Password</span>
      <ion-button expand="block" (click)="login()">Login</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>